

.Search_result{
        background-color: red;
}
body{
    font-family: 'Roboto',sans-serif;
}

.button{
    border: 3px solid red;
    border-radius: 12px;
    background: none;
    color: blue;
    font-size: 40px;
    cursor: pointer;
}
.button:hover{
    color: red;
}